<div class="card">
    <div class="card-header">
        Create your beautiful place
    </div>
    <div class="card-body">
        <%= form_for(@listing) do |f| %>
            <div class="row">
                <%= f.hidden_field :users_id, value: current_user.id %>
                <div class="col-4"><%= f.label :listing_name, "Property Name" %><%= f.text_field :listing_name, class: "form-control",required:true %>
                </div>
                <div class="col-4"><%= f.label :home_type, "Home type" %>
                <%= f.select :home_type, options_for_select([
                                ["Condominium"],
                                ["Resort"],
                                ["Hotel"],
                                ["Beach House"], 
                                ["Apartment"],
                                ["Capsule Room"]
                            ]), {}, class: "form-control" %>
                </div>
                <div class="col-4">Room type<%= f.select :room_type, options_for_select([
                                ["Entire"],
                                ["Private"],
                                ["Shared"]
                            ]), {}, class: "form-control" %>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">Accommodate<%= f.select :accomodate, options_for_select([
                                ["1 Guest", 1],
                                ["2 Guests", 2],
                                ["3 Guests", 3],
                                ["4+ Guests", 4]
                            ]), {}, class: "form-control" %>
                </div>
                <div class="col-4">Bedroom<%= f.select :bedroom_count, options_for_select([
                                ["1 Bedroom", 1],
                                ["2 Bedrooms", 2],
                                ["3 Bedrooms", 3],
                                ["4+ Bedrooms", 4]
                            ]), {}, class: "form-control" %>
                </div>
                <div class="col-4">Bathroom<%= f.select :bathroom_count, options_for_select([
                                ["1 Bathroom", 1],
                                ["2 Bathrooms", 2],
                                ["3 Bathrooms", 3],
                                ["4+ Bathrooms", 4]
                            ]), {}, class: "form-control" %>
                </div>
            </div>
            <%= f.submit "Create my room", class: "btn btn-block btn-success mt-3"%>
        <% end %>
    </div>

</div>