<div class="row">
    <div class="col-3">
        <%= render 'sidebar' %>
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Upload Photos
            </div>
            <div class="card-body">

                <%= form_for @listing, url: listing_images_path(@listing), method: "post", html: { :multipart => true }, enctype: 'multipart/form-data' do |f| %>
                        <%= file_field_tag "images[]", type: :file, multiple: true, required: true, accept: "image/jpeg,image/gif,image/png" %>
                            <% @images.each do |image| %>
                            <div class="col col-lg-4">
                                <div class="card mt-4">
                                    <div class="card-img-top-preview"> 
                                        <%= image_tag image.image, class: "img mw-100" %>
                                    </div>
                                    <div class="card-text">
                                        <%= link_to raw("<i class=' fa fa-trash text-danger'></i>&nbsp;Delete image"), listing_image_path(@listing, image), method: :delete, class: "float-right mr-3 my-3 text-danger MontserratFont" %>
                                    </div>
                                </div>                            
                            </div>
                        <% end %>
                        <%= f.submit "Save", class: "btn btn-block btn-success mt-3"%>
                <% end %>
            </div>
        </div>
    </div>

</div>