<div class="row">
    <div class="col-3">
        <%= render 'sidebar' %>
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Price
            </div>
            <div class="card-body">
                <%= form_for(@listing) do |f| %>
                    <%= f.label :price, "Price" %><%= f.number_field :price, step: 0.5, class: "form-control", placeholder: "Ex : 100.00" %>
                        
                    <%= f.submit "Save", class: "btn btn-block btn-success mt-3"%>
                <% end %>
            </div>
        </div>
    </div>

</div>