<div class="row">
    <div class="col-12">
        <div class="jumbotron">
            <% if @listing.images.present? %>
                <%= image_tag @listing.images.first.image, style: "width: 100px; height: 100px;" %>
                <%= link_to raw("<i class='fas fa-edit'></i> Edit"), listing_listing_path(@listing), class: "btn btn-outline-primary mr-3" %>
                <%= link_to raw("<i class='fas fa-trash-alt'></i> Delete <i class='fas fa-poo fa-rotate-90'></i>"), listing_path(@listing),method: :delete,data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger mr-3" %>
            <% else %>
                <p>No image uploaded !!</p>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <div class="jumbotron">
            
                <div class="row">
                    <h1><%= @listing.listing_name %></h1>
                    <p>Hosted by  </p>
                    <p>Reviews :</p>
                    
                </div>

                <hr>

                <div class="row text-center">
                    <div class="col-3">
                        <i class="fas fa-house-user fa-5x"></i><br><%= @listing.home_type %>
                    </div>
                    <div class="col-3">
                        <i class="fas fa-kiss-beam fa-5x"></i><br><%= @listing.accomodate %> Guests
                    </div>
                    <div class="col-3">
                        <i class="fas fa-bath fa-5x"></i><br><%= @listing.bathroom_count %> Bathrooms
                    </div>
                    <div class="col-3">
                        <i class="fas fa-bed fa-5x"></i><br><%= @listing.bedroom_count %> Bedrooms
                    </div>
                </div>

                <hr>

                <div class="row text-center">
                    <p><h3>About This Listing</h3> <br/>
                    <%= @listing.listing_description %> </p>
                <hr>                    
                </div>
                
                <div class="row text-center">
                    <h3>Amenities</h3>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td><%= is_filled?(@listing.has_internet) %> Internet</td>
                                <td><%= is_filled?(@listing.has_kitchen) %> Kitchen</td>
                                <td><%= is_filled?(@listing.has_tv) %> TV</td>
                            </tr>
                            <tr>
                                <td><%= is_filled?(@listing.has_heating) %> Heating</td>
                                <td><%= is_filled?(@listing.has_air_conditioner) %> Air conditioner</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

            <div class="row">
                <div class="col-12">
                <% if @listing.images.present? %>
                    <div class="carousel slide" data-ride="carousel" id="carousel-1">
                        <div class="carousel-inner" role="listbox">
                            <% @listing.images.each do |images| %>
                                <div class="carousel-item <%= images.id == @listing.images.first.id ? 'active' : '' %>">
                                    <%= image_tag images.image, class: "mw-100 d-block gallery" ,style: "width: 700px; height: 400px" %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="div">
                        <button class="carousel-control-prev" role="button" href="#carousel-1" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" role="button" href="#carousel-1" data-slide="next">
                            <span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                        </button>
                    </div>

                    <ol class="carousel-indicators">
                        <% @listing.images.each do |listing| %>
                            <li date-target="#carousel-1" date-slide-to="<% listing.id %>" class="active"></li>
                        <% end %>
                    </ol>

                <% else %>
                    <p>No Images Found</p>
                <% end %>
                </div>
            </div>

            <div class="row text-center">
                <h3>Location</h3>
                <hr>
                <div id="map"></div>
            </div>

            <div class="row text-center">
                <h3>Reviews</h3>
                
            </div>

        </div>
    </div>


    
<% if @listing.users_id != current_user.id %>
  <div class="col-5">
        <%= form_for [@listing, @listing.bookings.new] do |f| %>
            <div class="jumbotron">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><p>$ <%= @listing.price %> Per Night</p></h5>
                            
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">Check In<br>
                                    <%= f.hidden_field :listing_id, value: @listing.id %>
                                    <%= f.text_field :check_in_date, id: "check_in_date", class: "form-control", readonly: true, placeholder: "Check In Date" %>
                                </div>
                                <div class="col-6">Check Out<br>
                                    <%= f.text_field :check_out_date, id: "check_out_date", class: "form-control", readonly: true, placeholder: "Check Out Date"%>
                                </div>
                                <div class="col-12">
                                    <div id="preview" style="display: none;" >
                                        <div class="row">
                                            <p class="text-center" id="message"></p>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center">PRICE</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-center">$<%= @listing.price %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center">Night(s)</p>
                                            </div>
                                            <div class="col">
                                                <p class="text-center">x <span id="nights"></span> </p>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="text-center">TOTAL</h4>
                                            </div>
                                            <div class="col">
                                                <p class="text-center">$ <span id="total_price"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <%= f.submit "RESERVE", id: 'reserve', class: "btn btn-success " %>
                                </div>
                            </div>   
                        </div>           
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <% end %>
</div>


  <script>
    $(function(){
        $("#check_in_date").datepicker({
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            format: 'dd/mm/yyyy',
            startDate: '0',
            endDate: '+3m',
        }).on('changeDate', function(selected){
        updateDate($(this).find('check_out_date'), selected);
        });

        $("#check_out_date").datepicker({
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            format: 'dd/mm/yyyy',
            endDate: '+3m',
        }).on('changeDate', function(selected){
        updateDate($(this).find('check_in_date'), selected);
        });

        function updateDate(inputs, selected){
            var minDate = new Date(selected.date.valueOf());
            $('#check_out_date').datepicker('setStartDate', minDate);
            $('#check_in_date').datepicker('setEndDate', minDate);
            unavailableDates = [];

            $.ajax({
                url: '<%= check_current_bookings_listing_path(@listing) %>',
                dataType: 'json',
                success: function(data){
                    console.log("Success");
                    $.each(data, function(arrayID, arrayValue) {
                    for(var i = new Date(arrayValue.check_in_date); i <= new Date(arrayValue.check_out_date); i.setDate(i.getDate()+1)){
                        unavailableDates.push($.datepicker.formatDate('d-m-yy', i));
                        }
                    })
                    console.log(unavailableDates)
                }
            })
            console.log($('#check_in_date').datepicker("getDate"));
            console.log($('#check_out_date').datepicker("getDate"));
            var check_in = $('#check_in_date').datepicker("getDate");
            var check_out = $('#check_out_date').datepicker("getDate");
            var nights = (check_out - check_in)/1000/3600/24;
            var input = {
                'check_in_date': check_in,
                'check_out_date': check_out
            }
            $.ajax({
                url: '<%= review_booking_listing_path(@listing) %>',
                data: input,
                success: function(data){
                    if(data.conflict){
                        $('#message').text('Selected Dates are Unavailable');
                        $('#preview').hide();
                        $('#reserve').attr('disabled', true)
                    } else {
                        $('#message').text('Selected Dates are Available');
                        $('#preview').show();
                        $('#reserve').attr('disabled', false)
                        if(check_in.getTime() == check_out.getTime()){
                            nights = 1;
                        }
                    }
                    var total_price = nights * <%= @listing.price %>
                    $('#nights').text(nights);
                    $('#total_price').text(total_price);
                }
            })
        }
    });
  </script>


<script src="https://maps.googleapis.com/maps/api/js?key=[AIzaSyBbAhu9_5HdaJJi7sB5RvXy-5pY3i3DLNI]"></script>